<div class="row">
    <div class="row">
        <h1>Title</h1>
    </div>
    <div class="row">
        <table class="table table-hover table-responsive">
            <thead>
                <tr>
                    <th>Searched</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let search of searchs" >
                    <td>{{search.input}}</td>
                    <td>{{search.date | date:'medium' }}</td>
                </tr>
            </tbody>
        </table>  
    </div>
</div>