<div class="row">
    <div class="row">
        <h2>Recent Search History</h2>
    </div>
    <div class="row">
        <table class="table table-hover table-responsive">
            <thead>
                <tr>
                    <th>Searched</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let search of searchs" >
                    <td>{{search.input}}</td>
                    <td>{{search.date  | date:'longDate'}}</td>
                </tr>
            </tbody>
        </table>  
    </div>
</div>