<div class="row">
    <div class="row">
        <div class="col-lg-10 col-lg-offset-1 col-md-6 ">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="row" *ngIf="forecast">
                        <div class="col-xs-3">
                            <span class="glyphicon glyphicon-cloud cloud-header"></span>
                            <div>{{forecast.currently.summary}}</div>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">{{forecast.currently.apparentTemperature}} &deg;</div>
                            <div>{{forecast.timezone}}</div>
                        </div>
                    </div>
                </div>
                <a href="#">
                    <div class="panel-footer">
                        <span class="pull-left">View Details</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-sm-12">
            <div class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" href="#SearchPanel">Search By Location</a>
                        </h4>
                    </div>
                    <div id="SearchPanel" class="panel-collapse collapse">
                        <div class="panel-body">
                            <form role="form" class="form-inline" (submit)="search(latitude.value, longitude.value)">
                                <input #latitude id="latitude" class="span5" type="text"  placeholder="LATITUDE" >
                                <input #longitude id="longitude" class="span5" type="text"  placeholder="LONGITUDE">
                                <button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-search"></i></button>
                            </form>
                        </div>
                        <div class="panel-footer">
                            Panel Footer
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3 col-sm-6" *ngFor="let day of days">
            <div class="panel panel-default text-center">
                <div class="panel-heading">
                    <span class="glyphicon glyphicon-cloud cloud-body"></span>
                </div>
                <div class="panel-body">
                    <h4>{{day.title}}</h4>
                    <p>
                        {{day.temp}} &deg; <br>
                        {{day.info}}
                    </p>
                    <a href="" class="btn btn-primary">Learn More</a>
                </div>
            </div>
        </div>
    </div>
</div>