<div class="row" *ngIf="forecast">
    <div class="row">
        <div class="col-lg-10 col-lg-offset-1 col-md-6 ">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <span class="glyphicon glyphicon-cloud cloud-header"></span>
                            <div>{{forecast.currently.summary}}</div>
                            <div class="huge">{{forecast.timezone}}</div>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge"><h4>Temperature:  {{forecast.currently.temperature}} &deg;</h4></div>
                            <div>Humidity:  {{forecast.currently.humidity}}</div>
                            <div>Wind speed:  {{forecast.currently.windSpeed}}</div>
                            <div>Precipitation:  {{forecast.currently.precipIntensity}} in./hr.</div>
                            <div>{{dateFormat(forecast.currently.time) | date:'longDate' }}</div>

                        </div>
                    </div>
                </div>
                <a href="#">
                    <div class="panel-footer">
                        <span class="pull-left">View Details</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-sm-12">
            <div class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" href="#SearchPanel">Search By Location</a>
                        </h4>
                    </div>
                    <div id="SearchPanel" class="panel-collapse collapse">
                        <div class="row">
                            <ul class="nav nav-tabs">
                                <li class="active">
                                    <a data-toggle="pill" href="#search1">Lat/Lng</a>
                                </li>
                                <li>
                                    <a data-toggle="pill" href="#search2">Search by Adress</a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane fade in active" id="search1">
                                    <label>Search by lat/long</label>
                                    <hr>
                                    <form role="form" class="form-inline" (submit)="search(latitude.value, longitude.value)">
                                        <input #latitude id="latitude" class="span5" type="text"  placeholder="LATITUDE" >
                                        <input #longitude id="longitude" class="span5" type="text"  placeholder="LONGITUDE">
                                        <button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-search"></i></button>
                                    </form>
                                </div>
                                <div class="tab-pane fade" id="search2">
                                    <div class="col-lg-6">
                                        <div class="input-group">
                                            <label>Search by Address</label>
                                            <hr>
                                            <input type="text" class="form-control" placeholder="Chicago...">
                                            <span class="input-group-btn">
                                                <button class="btn btn-default" type="button"><i class="glyphicon glyphicon-search"></i></button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div>
                                
                            </div>
                        </div>
                        <div class="panel-footer">
                            Panel Footer
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
