<div class="row">
    <div class="row">
        <h2>Test</h2>
        <div>
            <div class="col-lg-3 col-sm-6">
               <label for="sel1">Select weather data you would like to see displayed:</label>
                <select name="sel1" class="form-control" [ngModel]="selectedSet" (ngModelChange)="onChange($event)" >
                    <option [value]="series.value" *ngFor="let series of seriesSet">{{series.key}}</option>
                </select>
            </div>
        </div>
    </div>
    <div class="row">
        <weather-chart [myData]="dateSet"></weather-chart>
    </div>
</div>